/* ===========[ Badge Start ]=========== */
.hr-badge {
    padding: var(--HR-sz-3) var(--HR-sz-8);
    background: #000;
    color: #fff;
    font-size: 14px;
    width: fit-content;
}

/* ===========[ Badge End ]=========== */